# This is a gitignore for the dotfiles repository, not a global gitignore.

# ignore everything except hidden files
/*
!/.*

# also ignore hidden directories, most of them shouldn't be tracked anyway
/*/

# ignore user-specific configuration of dotfiles repository itself
.dotfiles-repo-path
