# This is dotfiles repository's gitignore (not a global gitignore).

# By default ignore all files and directories
/*

# except some specific subdirectories of .config/
!/.config/
/.config/*
!/.config/bash
!/.config/git
!/.ssh/
/.ssh/*
!/.ssh/config

# and a selection of hidden configuration files.
!/.*rc
