# This is a gitignore for the dotfiles repository (not a global gitignore).

# ignore everything except hidden files
/*
!/.*

# specific hidden files that should be ignored as well:
.dotfiles-repo-path


# also ignore hidden directories, most of them shouldn't be tracked anyway
/*/

# but don't ignore the following directories:
!/.bash-config
